* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #212039;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

/*HEADER*/

.siteTitle {
    color: white;
}

.navBarList {
    display: flex;
    gap: 10vh;
    list-style: none;
}

.navBarList a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

.navBarList a:hover {
    color: blue;
}

.search {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.search input {
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 1vh;
}

.searchButton {
    color: white;
    background-color: #7E57B5;
    
}


/*HEROIMG*/

.heroImg {
    display: flex;
    justify-content: center;
}


/*PRODUCTS TABLE*/

.productsTable table {
    width: 100%;
    border-collapse: collapse;
}

.productsTable table th {
    background-color: lightgray;
    padding: 2vh;
}

.productsTable table td {
    text-align: center;
    padding: 2vh;
}


/*CONTACTFORM*/

.formArticle {
    display: flex;
    font-size: large;
    font-weight: bold;
    padding: 1vh;
}

.formArticle label {
    padding: 2vh;
}

.formArticle label input {
    width: 100%;
}

.formButtom {
    display: flex;
    padding-top: 5vh;
}

.formButtom input{
    background-color: #7E57B5;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 1vh;
}

/*CONTACTFORM*/

footer {
    background-color: #212039;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: auto;
    padding-bottom: 2vh;
}

.socialMedia {
    padding-bottom: 2vh;
}

.socialMedia ul {
    display: flex;
    list-style: none;
    gap: 2vh;
}

.footerTitle {
    text-align: center;
    color: white;
    padding: 2vh;
}

.socialMedia a {
    text-decoration: none;
    color: white;
}